[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid-heroku = {editable = true,path = "."}
mypy = "*"

[dev-packages]
mock = "*"
responses = "*"
"zope.testing" = "*"
coverage = "*"
pytest = "*"
docutils = "*"
structlog = "*"
black = "==18.9b0"
mypy = "*"

[requires]
python_version = "3.7"
